[submodule "fw/sub/micropython-mqtt-reg"]
	path = fw/sub/micropython-mqtt-reg
	url = git@github.com:burgrp/micropython-mqtt-reg.git
[submodule "fw/sub/micropython-mqtt"]
	path = fw/sub/micropython-mqtt
	url = https://github.com/peterhinch/micropython-mqtt.git
